            <span class='minor-text'>You're committed. Make an event!</span>
            
            <div class='idea-view-action-make-event-button round'>
              Make Event
            </div>

