<h1>Listing users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
  </tr>

  <!-- renders the partial for each obj in @users collection -->
  <%= render :partial => "list_users", :collection => @users, :as => :user %>

</table>



<br />
