
<div class='content'>

  <!-- TODO: also allow view users from facebook, g+ etc, also allow view groups -->
  <div class='content-title'> Search Users </div>

  <div class='content-section'>
    <div class='content-header'>
      Results:
    </div>

    <div class='user-stream-header-row'>
      <div class='user-row-picture'>Picture</div>
      <div class='user-row-text'>Name</div>
      <div class='user-row-misc'>Action</div>
    </div>

    <!-- renders the partial for each obj in @users collection -->
    <%= render :partial => "list_users", :collection => @users, :as => :user %>

  </div>

</div>

