              <div class="add-idea-link">
                <%= link_to BUTTON_CHAT_IDEA,
                            idea_path(idea_id),
                            {:method => 'get'} %>
              </div>
