              <div class="<%=ID_TAG_AUTH_HOME_STREAM_IDEA_ACTION + idea_id.to_s%> button-styling-major button-float-right">
                <%= link_to BUTTON_JOIN_IDEA,
                    add_idea_id_path(:idea_id => idea_id),
                                     {:method => 'post',
                                      :remote => true,
                                      :title => 'Add to your idea list'} %>
              </div>
