              <div class="button-styling-minor button-float-right">
                <%= link_to BUTTON_CHAT_IDEA,
                            idea_path(idea_id),
                            {:method => 'get'} %>
              </div>
