<div class='left-nav'>

  <div class='left-nav-main-link'><%= link_to 'Browse Community', users_path %></div>
      
  <!-- TODO: make *'s images; format this left column better -->
  <div class='left-nav-main-link'><%= link_to 'My Ideas', users_profile_path%></div>
  <!-- AJAX call updates this div on idea add -->
<!--  <div id="<%=ID_TAG_AUTH_HOME_USER_IDEAS%>"> 
    [erb open brace=] render :partial => "list_my_ideas", :collection => @user_ideas, :as => :idea [erb close brace]
  </div>
-->
  <div class='left-nav-main-link'>My Events (coming soon)</div>

</div>
