<div >
  
  Welcome to Just an Idea dot com 
  
  <br \>
  <br \>
  
  Enter your idea: 
  <%= form_tag initial_idea_path, :method => 'post' do %>
    <%= text_field_tag :idea %>
    <%= submit_tag "Submit" %>
  <% end %>

</div>