<h1>Yay, we got your idea and here are matches:</h1>

<p> Your Idea: <%= @ideaText %> </p>
<p> Matches: </p>

<p> <%= link_to 'Login', new_user_session_path %> or <%= link_to 'Create an Account', new_user_session_path %> to see more! </p>

