<span style="line-height: 150%;">

The "Want Count" shows everyone how much you want the 
idea to happen. The more you click it, the higher your 
score. You can see everyone else's want count in the 
user list.
<br/>
<br/>
Go nuts and take the lead!

</span>
