<span style="line-height: 150%;">

The more times someone's been kicked, the more people
want them to take action and organize this idea. 
<br/>
<br/>
Know someone's who's dragging their feet? Kick them 
and prod them into action! 
<br/>
<br/>
You can only kick one person once each time you visit 
the idea. 

</span>
