<span style="line-height: 150%;">

You have <%=NUM_COMMITS_PER_MONTH%> commits per month. 
Every time you use a commit, you don't get another one 
for a month so use them sparingly to show your 
commitment to an activity you really want to do!
<br/>
<br/>
By the way, removing an idea doesn't drop your 
commitment. We thought of that one... :)

</span>
