@import "color_definitions";

/*************************************
 * Shadow and effects
 *************************************/
.block-stream-element-container{
  box-shadow: 2px 2px 5px #201C10; /* COLORS: DARK - 201C10, Light - C5AB84 */
}

.block-stream-element-container{
  background-color: $block-block-bg-color;
}

/*************************************
 * Color
 *************************************/
.block-stream-element-description-block{
  color: $block-block-description-text-color;
}

.block-stream-element-chat-msg{
  background-color: $block-block-chat-msg-bg-color;
}

.block-stream-element-owner-name{
  color: $block-block-owner-name-text-color;
}

/*************************************
 * Layout
 *************************************/
.block-stream-element-container{
  float: left;

  width: 28%;
/*  height: 380px;*/
  
  padding: 1%;
  margin: 15px; /* need to use pixels because masonry tiling does something that kills percentage margins in Chrome */

  font-size: 12px;
}

.block-stream-element-picture{ /* TODO: CENTER THIS */
  float: left;
  
  width: 100%;
  
  margin-bottom: 2%;
  
  border-style: solid;
  border-width: 0px;
}

.block-stream-element-picture img{
  max-height:100%; 
  max-width:100%;
  
  display: block;
  margin: auto;
}

.block-stream-element-description-block{
  float: left;

  width: 100%;
  
  padding: 2% 0% 0% 0%;
  margin-bottom: 5%;

  line-height:130%;
  font-size: 14px;
  font-weight: bold;
}

.block-stream-element-owner-name{
  font-weight: normal;
  
  margin-bottom: 3px;
}

.block-stream-element-description-owner-pic{
  float: left;

  height: 35px;
  width: 35px;

  margin: 0px 10px 0px 0px 
}

/* block for statistics and join action */
.block-stream-element-stats-block{
  float: left;
  
  margin-bottom: 5%;
  width: 100%;
}

.block-stream-element-stats-block-text{
  float: left;

  width: 50%;
}

.block-stream-element-stats-block-action{
  float: right;

}

/* chat message styles */
.block-stream-element-chat-msg-block{
  float: left;
  
  width: 100%;
}

.block-stream-element-chat-msg{
  float: left;

  width: 100%;
  height: 45px;
  
  padding: 2% 0% 0% 0%;
  margin-bottom: 2%;
  
  overflow: hidden;
}

.block-stream-element-chat-msg-pic{
  float: left;

  height: 35px;
  width: 35px;

  margin: 0% 2%;

}

