$default-text-color: #1C1814; 
$default-a-link-color: #503C28;



$main-background-color: #F0F4F0;
$main-header-full-width-color:  #BA966B; /* COLORS: DARK - 694629, Light - D8D5C9 */

$main-content-container-color:  #CBBB9B;
  $main-content-title-color:    #943E0F;
  $main-content-header-color:   #B58963;
  
$left-nav-container-color:      #CBBB9B;
$right-nav-container-color:     #CBBB9B;


$magazine-block-bg-color: #D0C19D;
$magazine-block-chat-msg-bg-color: #D6D5D1;
$magazine-block-description-text-color: #513F24;
$magazine-block-owner-name-text-color: black;

