$default-text-color: #1C1814; 
$default-a-link-color: #503C28;

/* main layout elements */
$primary-color-header: #BA966B;
$secondary-color-content: #CBBB9B;
$main-background-color: #F0F4F0;
$main-header-full-width-color: $primary-color-header; /* COLORS: DARK - 694629, Light - D8D5C9 */

$main-content-container-color:  $secondary-color-content;
  $main-content-title-color:    #943E0F;
  $main-content-header-color:   #B58963;
  
$left-nav-container-color:      $secondary-color-content;
$right-nav-container-color:     $secondary-color-content;
$right-preview-box-color:       $secondary-color-content;

/* block layout */
$block-block-bg-color: #D0C19D;
$block-block-chat-msg-bg-color: #D6D5D1;
$block-block-description-text-color: #513F24;
$block-block-owner-name-text-color: black;

/* chat board */
$chat-board-container-bg-color: #FFFFFF;
$chat-board-container-txt-color: #000000;
$chat-board-user-item-status-offline-color: #954535;
$chat-board-user-item-status-offline-txt-color: #FFFFFF;
$chat-board-user-item-status-online-color: green;
$chat-board-user-item-status-online-txt-color: #FFFFFF;

/* button colors */
$button-styling-major-color: #be3c14;
$button-styling-major-text-color: white;
$button-styling-minor-color: #B58963;
$button-styling-minor-text-color: black;
  /* idea view actions */
$button-idea-view-want-it: red;
$button-idea-view-nudge: white;
$button-idea-view-commit: blue;

