@import "color_definitions";

/*************************************
 * Shadow and effects
 *************************************/
.block-stream-element-container, .block-stream-element-container-normal{
  /*box-shadow: 2px 2px 5px #201C10; */

  border-color: #B0B0B0;
  border-style: solid;
  border-width: 2px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/*************************************
 * Color
 *************************************/
.block-stream-element-container, .block-stream-element-container-normal{
  background-color: $block-bg-color;
  color: $block-text-default-color;
}

.block-stream-element-description-block{
  color: $block-description-text-color;
}

.block-stream-element-chat-msg{
  background-color: $block-chat-msg-bg-color;
}

.block-stream-element-owner-name{
  color: $block-owner-name-text-color;
}

/*************************************
 * Layout
 *************************************/
.block-stream-element-container, .block-stream-element-container-normal{
  float: left;

  width: 280px;
  margin: 15px; /* need to use pixels because masonry tiling does something that kills percentage margins in Chrome */
  padding-bottom: 5px;

  font-size: 12px;
}
.block-stream-element-container-normal{
  height: 345px; /* limit height to normalize */
}
  .block-stream-element-container-normal .block-stream-element-description-block{
    max-height: 36px; /* limit height to normalize */
    overflow: hidden;
  }


  .block-stream-element-picture, .block-stream-element-picture-normal{
    float: left;
    
    width: 92%;
    
    padding: 0% 4%;
    margin-top: 4%;
    margin-bottom: 2%;
    
    border-style: solid;
    border-width: 0px;
  }
  .block-stream-element-picture-normal{
    height: 172px;
  }
    .block-stream-element-picture img, .block-stream-element-picture-normal img{
      max-height:100%; 
      max-width:100%;
      
      display: block;
      margin: auto;
    }


  .block-stream-element-description-block{
    float: left;

    width: 92%;
    
    padding: 2% 0%;
    margin: 0% 4%;
    margin-bottom: 2%;

    line-height:130%;
    font-size: 14px;
  }
    .block-stream-element-description-owner-pic{
      float: left;

      height: 35px;
      width: 35px;

      margin-right: 2%;
      padding: 2px;
      background-color: $picture-border-color;
    }
    .block-stream-element-description-owner-pic img{
      max-width: 100%;
      max-height: 100%;
    }
    .block-stream-element-owner-name{    
      margin-bottom: 3px;
    }
    .block-stream-element-description-block a{
      margin-right: 2%;
      color: $block-text-default-color;
      font-weight: bold;
      text-decoration: none;
    }


  .block-stream-element-stats-and-buttons-container{
    float: left;
    width: 92%;
    padding: 0% 4%;
    margin-top: 2%;
  }
    /* block for statistics and join action */
    .block-stream-element-stats-block{
      float: left;
      
      margin-bottom: 2%;
      width: 50%;
    }
      .block-stream-element-stat-row{
        float: left;
        width: 100%; 
        margin: 2% 0%;
        background-color: $stats-block-background-color;
      }
        .block-stream-element-stats-block-number{
          margin: 0% 5%;
          
          float: left;
          font-size: 26px;
          font-weight: bold;
          color: $stats-block-number-color;
        }
        .block-stream-element-stats-block-text{
          float: left;

          margin: 2% 0%;
        }
    .block-stream-element-button-join-idea{
      float: right;
      width: 70px;
      height: 40px;

      font-size: 14px;
      font-weight: bold;
    }
      .block-stream-element-button-join-idea a{
        text-decoration: none;
      }
      .block-stream-element-button-join-idea .button-styling-major{ /* hack to center button text */
        padding: 15px 10px;
      }
      .block-stream-element-button-join-idea .button-styling-minor{ /* hack to center button text */
        padding: 15px 10px;
      }
    .block-stream-element-already-done-it {
      float: left;
      width: 92%;
      padding: 0% 4%;

      text-align: right;
    }


  /* chat message styles */
  .block-stream-element-chat-msg-block{
    float: left;
    
    width: 92%;
    margin: 0% 2%;
  }
    .block-stream-element-chat-msg{
      float: left;

      width: 100%;
      height: 45px;
      
      padding: 2% 0% 0% 0%;
      margin-top: 2%;
      
      overflow: hidden;
    }
    .block-stream-element-chat-msg-pic{
      float: left;

      height: 35px;
      width: 35px;

      margin: 0% 2%;

    }

