@import "color_definitions";

$button-width: 80px;
$button-height: 20px;

/*************************************
 * Idea View Page
 *************************************/
.idea-view-pic-and-info{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
  .idea-view-pic{
    float: left;
    width: 55%;
  }
  .idea-view-pic img{
    max-height: 100%;
    max-width: 100%;
  }

  .idea-view-info{
    float: right;
    width: 43%;
    margin-left: 2%;
  }

.idea-view-action-section{
  float: left;
  width: 100%;
  height: 100px;
}

  @mixin button-styling {
    float: left;
    
    font-family: Helvetica, Arial, sans-serif;

    width: $button-width;
    height: $button-height;
    margin: 5% 25%;
    padding: 20px 0px;
    
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 2px #777777;
  
    box-shadow: 2px 2px 5px #FFEBCD inset, -2px -2px 5px #201C10 inset;
  }
  .idea-view-action-want-it, .idea-view-action-commit, .idea-view-action-nudge{
    float: left;
    width: 30%;
    height: 100%;
    margin: 0% 1%;
  }
    .idea-view-action-nudge a{
      text-decoration: none;
    }
    .idea-view-action-want-it-button{
      @include button-styling;
      font-size: 26px;
      color: white;
      background-color: $main-content-title-color;
    }
    .idea-view-action-nudge-button{
      @include button-styling;
      
      text-decoration: none;

      background-color: $main-content-title-color;
      color: white;
    }
    .idea-view-action-commit-button{
      @include button-styling;

      background-color: $main-content-title-color;
      color: white;
    }
    .idea-view-action-make-event-button {
      float: left;

      width: $button-width;
      height: $button-height;
      margin: 5% 25%;
      padding: 20px 0px;
      
      text-align: center;
      font-weight: bold;

      background-color: $main-content-title-color;
      color: white;
    }
