@import "color_definitions";

$button-width: 80px;
$button-height: 20px;

/*************************************
 * Idea View Page
 *************************************/
.idea-view-pic-and-info{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
  .idea-view-pic{
    float: left;
    width: 100%;
  }
  .idea-view-pic img{
    max-height: 100%;
    max-width: 100%;
  }

  .idea-view-info{
    float: right;
    width: 43%;
    margin-left: 2%;
  }

.idea-view-action-section{
  float: left;
  width: 100%;
  height: 100px;
}

  @mixin button-styling {
    float: left;
    
    font-family: Helvetica, Arial, sans-serif;

    width: $button-width;
    height: $button-height;
    margin: 5% 25%;
    padding: 20px 0px;
    
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 2px #777777;
  
    box-shadow: 2px 2px 5px #FFEBCD inset, -2px -2px 5px #201C10 inset;
  }
  .idea-view-action-want-it, .idea-view-action-commit, .idea-view-action-nudge{
    float: left;
    width: 30%;
    height: 100%;
    margin: 0% 1%;
  }
    .idea-view-action-nudge a{
      text-decoration: none;
    }
    .idea-view-action-want-it-button{
      @include button-styling;
      color: white;
      background-color: $main-content-title-color;
    }
    .idea-view-action-nudge-button{
      @include button-styling;
      
      text-decoration: none;

      background-color: $main-content-title-color;
      color: white;
    }
    .idea-view-action-commit-button{
      /* button style change: REMOVED FOR IDEA PAGE CLEANUP */    
      float: right;

      font-family: Helvetica, Arial, sans-serif;

      width: 70px;
      height: 18px;
      padding: 5px 4px;
      
      text-align: center;
      font-weight: normal;

      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($primary-color-light), to($primary-color));
      background: -moz-linear-gradient(19% 75% 90deg,$primary-color, $primary-color-light);
      color: $button-styling-major-text-color;
    }
    .idea-view-action-make-event-button {
      float: left;

      width: $button-width;
      height: $button-height;
      margin: 5% 25%;
      padding: 20px 0px;
      
      text-align: center;
      font-weight: bold;

      background-color: $main-content-title-color;
      color: white;
    }

//container for the entire idea2 page
.idea-info-container {
  float: left;
  width: 898px;
  padding-top: 5px;
}

//container for just the top portion of the idea2 page. Includes image, title, and people
.idea-info {
  width: 898px;
  float:left;
//  border-style: solid;
//  border-width: 1px;
}

.idea-info-data {
  float: left;
  width: 67%;

}

.idea-info-pic {
  float: left;
  width: 30%;
  padding: 0px 5px 5px 0px;
}

.idea-info-pic img {
  max-height: 100%;
  max-width: 100%;
}


.idea-info-title {
  font-size: 200%;
  padding: 0px 0px 5px;
  max-width: 70%;
}

.idea-info-user-container {
  float: left;
  width: 100%;
  height: 100%;
  padding-bottom:10px;
}

.idea-info-users-title {
  font-size: 120%;
  margin: 10px 0px 10px;
  background-color: $primary-color-light;
}

.idea-info-users {
  padding-left: 10px;
}

.idea-user-block {
  float: left;
  width: 100%;
  height: 125px;
  overflow: auto;
  margin-left: 10px;
  padding: 10px 0px;

  background-color: #5c6985;
  
}

.idea-user {
  float: left;
//  background-color:#CFC9D1;
  padding:5px;
  width: 150px;
  margin: 0px 8px 8px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


background: #e9f6fd; /* Old browsers */
background: -moz-linear-gradient(top,  #e9f6fd 0%, #d3eefb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* IE10+ */
background: linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */
  
}

.idea-people {
  float: left;
  padding: 5px 10px;
  font-size: 16px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: #5c6985;

}

.idea-people:hover {
  cursor:pointer;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
