/*************************************
 * Notes
 * Color combos: 
 *  - color matcher: http://www.colorcombos.com/combotester.html?rnd=0&color0=5a3232&color1=be3c14&color2=d8dcce&color3=321e1e&color4=f8fcee&color5=2b3c45
 *  - colors: http://www.colorhunter.com/tag/pastel/1
 *  - earth tones: http://www.varian.net/dreamview/dreamcolor/earth-dark.html
 *  - earth tones: http://www.varian.net/dreamview/dreamcolor/earth.html
 *************************************/

/*************************************
 * Color Scheme and Shading
 *   Text and background color definitions
 *   Define colors before any imports
 *************************************/
@import "color_definitions";

/*************************************
 * IMPORTS
 *************************************/
@import "idea_layout_block";
@import "idea_layout_stream";
@import "deals_layout";
@import "tabs_layout"; /* TODO: NOT USING THIS YET. USE IT to make tabs for user profile page so user can manage stuff*/
@import "events_layout";
@import "chat_messages_layout";

  /***************************************
   * Shadow Scheme
   ***************************************/
.event-list-right-nav-item-container{
  box-shadow: 2px 2px 2px #201C10; 
}
   
.content-container, .idea-content-container, .unauth-content-container, .left-nav, .left-nav-wide, .right-nav, .right-preview-box {
  box-shadow: 2px 2px 5px #201C10; 
} 

.main-header-full-width-container-menu, .main-header-full-width-container-no-menu{
  box-shadow: 10px 10px 20px #201C10;
}

  /***************************************
   * General elements
   ***************************************/

a {
  color: $default-a-link-color;
}

body {
  color: $default-text-color;  
  background-color: $main-background-color;
}

  /***************************************
   * Header
   ***************************************/
.main-header-full-width-container-menu, .main-header-full-width-container-no-menu{
  background-color: $main-header-full-width-color;
}

  /***************************************
   * Unauthenticated main page
   ***************************************/

.unauth-content-container{
  background-color: $main-content-container-color;
}

  /***************************************
   * Left Nav 
   ***************************************/

.left-nav, .left-nav-wide{
  background-color: $left-nav-container-color;
}

.left-nav-main-link {
  color: white;
  background-color: #be3c14; 
}

.left-nav-list-item {
}

.left-nav .left-nav-main-link a {
  color: white;
}

.left-nav a:hover {
}

  /***************************************
   * Right Nav 
   ***************************************/
.right-nav{
  background-color: $right-nav-container-color;
}

  /***************************************
   * Right Preview Box 
   ***************************************/
.right-preview-box{
  background-color: $right-preview-box-color;
}

  /*************************************
   * Content
   *************************************/

.stream-search-bar-container{
  background-color: $main-content-container-color;
}

.content-container, .idea-content-container{
  background-color: $main-content-container-color;
}

.content-title{
  background-color: $main-content-title-color;
  color: white;
}
.content-title a{
  float: right;
  color: white;
}

.content-header{
  background-color: $main-content-header-color;
}

  /*************************************
   * Link Definitions
   *************************************/
   
.button-styling-major{
  color: $button-styling-major-text-color;
  background-color: $button-styling-major-color;
}

.button-styling-major a{
  color: $button-styling-major-text-color;
}

.button-styling-minor{
  color: $button-styling-minor-text-color;
  background-color: $button-styling-minor-color;
}

.button-styling-minor a{
  color: $button-styling-minor-text-color;
}

  /*************************************
   * Misc: Containers, etc
   *************************************/


/*************************************
 *************************************
 *
 * Parent Elements Positioning and Layout 
 *
 *************************************
 *************************************/

/* to allow 100% height inheritance */
html {
  height: 100%; 
}

body {
  font-family: "Helvetica Neue",
               Arial,
               Helvetica,
               sans-serif;             
  font-size: 14px;
  
  margin: 0px;
  padding: 0px;
  
  height: 100%;
}

header{
  float: left;
  width: 100%;

  margin-bottom: 20px;
}

/* Centering container to center all page content */

.center-container-more-top-margin{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
  
  height: 100%; 
  
  border-style:solid;
  border-width: 0px;
}
.center-container-less-top-margin{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  
  height: 100%; 
  
  border-style:solid;
  border-width: 0px;
}

/* Main container for all pages
   TODO: setup div as % with a minimum div width of 900 
   Called in application.html.erb
 */
.container {
  margin-left: auto;
  margin-right: auto;
  
  width: 100%;
  height: 100%; /* needs to inherit down to child elements */
  
  border-style:solid;
  border-width: 0px;
  
  float: left;
}

/* Main header nav div for logo and session / profile mgmt */
.main-header-full-width-container-menu {
  float: left;
  
  width: 100%;
  height: 95px;
  
  position: fixed;
  top: 0px;
  left: 0px;
  
  z-index: 5;
}
.main-header-full-width-container-no-menu {
  float: left;
  
  width: 100%;
  height: 70px;
  
  position: fixed;
  top: 0px;
  left: 0px;
  
  z-index: 5;
}

/* centers header content into middle of page to coorespond with center-container div class */
.header-center-container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
}

.left-nav {
  float: left;
  width: 20%;
  min-height: 300px;
  
  padding: 1%;
  
  border-style:solid;
  border-width: 0px;
}

.left-nav-wide {
  float: left;
  width: 29%;
  min-height: 300px;
  
  padding: 1%;
  
  border-style:solid;
  border-width: 0px;
}

.content-container{ 
  float: left;

  width: 57%;
  padding: 1%;
  margin-left: 2%;
  margin-bottom: 10px;
  
  border-style: dotted;
  border-width: 0px;
}

.idea-content-container{ 
  float: left;

  width: 65%;
  padding: 1%;
  margin-left: 2%;
  margin-bottom: 10px;
  
  border-style: dotted;
  border-width: 0px;
}

.right-nav {
  float: left;

  width: 15%;
  padding: 1%;
  
  margin-left: 2%;
  
  border-style:solid;
  border-width: 0px;
}

/* floating is default behavior. actual box rendered will have absolute position relative to document */
.right-preview-box{
  float: left;

  position: relative;
  
  width: 35%;
  padding: 1%;
  
  margin-left: 2%;
}

/*************************************
 *************************************
 *
 * Site Component Definitions for pages, elements, etc
 *
 *************************************
 *************************************/
 
 
 
  /*************************************
   * Main header navigation
   *************************************/
.main-header-left-content {
  float: left;

  width: 25%;
  margin-top: 13px;
}
  
.main-header-center-content {
  float: left;

  width: 50%;
  margin-top: 13px;
}

.main-header-right-content {
  float: right;

  margin-top: 13px;
}

nav.main-authentication {
  float: right;

  white-space: nowrap;
}

nav.main-authentication ul {
  margin: 0;
  padding: 0;
}

nav.main-authentication ul li {
  list-style-type: none;
  display: inline-block;
}

nav.main-authentication ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav.main-authentication ul li a:hover {
  text-decoration: underline;
}

 
  /*************************************
   * General elements - used across different pages
   *************************************/

#flash-notice-div{
  float: left;
  margin: 0px 20px;
}

#flash-alert-div{
  float: left;
  margin: 0px 20px;
}

.hidden-div {
  display: none;
}

.minor-link {
  font-size: 12px;
}

.minor-text {
  font-size: 12px;
}

/* Demarks a section of content - use this to wrap a content section
     that contains a content-title and content-header */
.content-section{
  float: left;
  
  width: 100%;
  
  margin-bottom: 20px;
}

/* Title for content areas */
.content-title{
  float: left;
  
  width: 100%;
  padding: 5px 0px;
  
  font-size: 14;
}


/* Header text for a content section */
.content-header{
  float: left;

  width: 100%;

  padding: 5px 0px;

  border-width: 0px;
  border-style: solid;
}

/* Text inside content area */
.content-text{
  float: left;

  padding: 3px;

  width: 100%;
}

/* Div container for featured ideas */
.featured-ideas-container{
  float: left;
  
  border: solid 2px #adadad;

  height: 100%;
  padding: 4px 2px; 
  
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.featured-ideas-item{
  float: left;

  font-size: 12px;  
}

.featured-ideas-item-image{
  float: left;
  width: 100%;
  
  margin: 13px 0px 0px 0px;
}

.featured-ideas-item-text{
  float: left;
  width: 100%;
  
  margin: 0px 3px;
}

  /*************************************
   * Unauthenticated main page
   *************************************/
.unauth-content-container{
  float: left;

  width: 80%;

  margin-left: 10%;
  margin-right: 10%;

  padding: 50px 0px;

  text-align: center;
  
  border-style: dotted;
  border-width: 0px;
}

.unauth-content-ideas-container{
  float: left;
  
  width: 70%;
  margin: 20px 15%;
  
  border-style: solid;
  border-width: 1px;
}

  /*************************************
   * Left Nav
   *************************************/

.left-nav-main-link {
  font-size: 12px;

  padding: 5px;
  margin: 8px 0px;
}

.left-nav-list-item {
  font-size: 12px;
  padding: 2px 4px;
}

.left-nav .left-nav-main-link a {
  text-decoration: none;
}

.left-nav a:hover {
  text-decoration: underline;
}



  /*************************************
   * Auth Home Content Stream
   *************************************/

/* Idea stream content: content area for list of ideas */
.idea-stream-content-view-selector{
  float: left;
  
  width: 100%;
  
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}

.idea-stream-header-row{
  float: left;
  font-size: 14px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

  /*************************************
   * User Profile Page
   *************************************/
.user-stream-header-row{
  float: left;
  font-size: 14px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

.user-stream-content-row{
  float: left;
  font-size: 12px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

.user-row-picture{
  float: left;
  width: 50px;
  height: 50px;
}

.user-row-text{
  float: left;
  
  width: 50%;
  padding: 0px 0px 0px 10px;
}

.user-row-misc{
  float: left;
  width: 25%;
}

  /*************************************
   * Idea View Page
   *************************************/
.idea-view-pic-and-info{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
  .idea-view-pic{
    float: left;
    width: 55%;
  }
  .idea-view-pic img{
    max-height: 100%;
    max-width: 100%;
  }

  .idea-view-info{
    float: right;
    width: 43%;
    margin-left: 2%;
  }

.idea-view-action-link{

}


/*************************************
 *************************************
 *
 * Link Definitions
 *
 *************************************
 *************************************/

.button-float-right{
  float: right;
  margin-left: 10px;
  
  border-style: solid;
  border-width: 0px;
}

.button-float-left{
  float: left;
  margin-right: 10px;
  
  border-style: solid;
  border-width: 0px;
}

.button-styling-major .button-styling-minor{
  margin: 5px 0px;
  padding: 2px;
  
  text-decoration: none;
  
  /* bevel'd button */
  /*box-shadow: -2px -2px 2px rgba(0,0,0,.25) inset, 2px 2px 2px white inset;*/
}

.button-styling-major a {
  text-decoration: none;
  font-size: 12px;
}

.button-styling-minor a {
  text-decoration: none;
  font-size: 12px;  
}


/*************************************
 *************************************
 *
 * Rounded Corners & other special stuff
 *
 *************************************
 *************************************/

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

p.notice{
  float: left;
  
  background-color: #CFC447;
  padding: 0px 3px;
}

p.alert{
  float: left;

  background-color: #943E0F;
  padding: 0px 3px;
}

/*************************************
 *************************************
 *
 * Div Popup
 *
 *************************************
 *************************************/

#blanket {
  background-color:#111;
  opacity: 0.65;
  filter:alpha(opacity=65);
  position:absolute;
  z-index: 9001;
  top:0px;
  left:0px;
  width:100%;
}

#popUpDiv {
  position:absolute;
  background-color:#eeeeee;
  width:300px;
  height:300px;
  z-index: 9002;
}





















.stream-search-bar-container{
  float: left;

  width: 100%;
  padding: 1% 0%;
  margin-bottom: 10px;
  
  border-style: dotted;
  border-width: 0px;
}

.stream-search-field-and-button{
  float: left;
}

.nav-main-link{
  color: white;
  background-color: #be3c14; /* alt colors: 943E0F be3c14 */
}

.nav-main-link-unimplemented{
  color: white;
  background-color: #995720; /* alt colors: 943E0F be3c14 */
}

.nav-main-link a{
  color: white;
  text-decoration: none;
}

.main-header-full-width-container-menu, .main-header-full-width-container-no-menu{
  z-index: 2;
}

.block-stream-element-container{
  z-index: 1;
}

/*************************************
 *************************************
 *
 * Nav Links & etc
 *
 *************************************
 *************************************/
.nav-main-link, .nav-main-link-unimplemented{
  float: left;

  font-size: 12px;

  padding: 2px 5px;
  margin: 5px 10px 10px 10px;
}

/*************************************
 *************************************
 *
 * block Stream Element
 *
 *************************************
 *************************************/

#AJAX_main_stream_content{ /* TODO: rename to block-stream-container or something relevant, but this will need to be referenced by JQUERY function */
  float: left;
  
  width: 100%;
}

/*********************************
**********************************
*
* For profile pic partial display
*
*********************************
*********************************/
.profile-pic-element-picture img{ /* TODO: CENTER THIS */
  max-height:100%; 
  max-width:100%;
  
  display: block;
  margin: auto;
}

