/*************************************
 * Notes
 * Color combos: 
 *  - color matcher: http://www.colorcombos.com/combotester.html?rnd=0&color0=5a3232&color1=be3c14&color2=d8dcce&color3=321e1e&color4=f8fcee&color5=2b3c45
 *  - colors: http://www.colorhunter.com/tag/pastel/1
 *  - earth tones: http://www.varian.net/dreamview/dreamcolor/earth-dark.html
 *  - earth tones: http://www.varian.net/dreamview/dreamcolor/earth.html
 *************************************/

/*************************************
 * Color Scheme and Shading
 *   Text and background color definitions
 *************************************/

  /***************************************
   * Shadow Scheme
   ***************************************/
.unauth-content-container, .left-nav, .right-nav{
  box-shadow: 2px 2px 5px #201C10; /* COLORS: DARK - 201C10, Light - C5AB84 */
} 

.main-header-full-width-container{
  box-shadow: 10px 10px 20px #201C10; /* COLORS: DARK - 201C10, Light - C5AB84 */
}
  /***************************************
   * General elements
   ***************************************/

a {
  color: #503C28;
}

body {
  color: #1C1814;  
  background-color: #D8D5C9; /* COLORS: DARK - 694629, Light - D8D5C9 */
}

  /***************************************
   * Header
   ***************************************/

.main-header-full-width-container{
  background-color: #BA966B; /* COLORS: DARK - 694629, Light - D8D5C9 */
}

  /***************************************
   * Unauthenticated main page
   ***************************************/
.unauth-content-container{
  background-color: #CBBB9B;
}

  /***************************************
   * Left Nav 
   ***************************************/

div.left-nav{
  background-color: #CBBB9B;
}

.left-nav-main-link {
  color: white;
  background-color: #be3c14; /* alt colors: 943E0F be3c14 */
}

.left-nav-list-item {
}

div.left-nav div.left-nav-main-link a {
  color: white;
}

div.left-nav a:hover {
}

  /***************************************
   * Left Nav 
   ***************************************/
div.right-nav{
  background-color: #CBBB9B;
}

  /*************************************
   * Content
   *************************************/
.content-search-container{
  background-color: #CBBB9B;
}

.content{
  background-color: #CBBB9B;
}

.content-title{
  background-color: #943E0F;
  color: white;
}

.content-header{
  background-color: #B58963;
}

.idea-stream-content-row{
  border-color: #D6D5D1;
}

  /*************************************
   * Link Definitions
   *************************************/
.add-idea-link{
  color: white;
  background-color: #be3c14;
}

.add-idea-link a{
  color: white;
}

  /*************************************
   * Misc: Containers, etc
   *************************************/
.chat-board-container{
  background-color : #ffffff;
  color : #000000; 
}

.chat-message-send-button{
  float: right;
}

.user-list-container{
  background-color : #CBBB9B;
}

.chat-board-user-item-status-offline{
  background-color: #954535;
  color: white;
}

.chat-board-user-item-status-online{
  background-color: green;
  color: white;
}


/*************************************
 *************************************
 *
 * Parent Elements Positioning and Layout 
 *
 *************************************
 *************************************/
 
html {
  height: 100%; /* to allow 100% height inheritance */
}

body {
  font-family: "Helvetica Neue",
               Arial,
               Helvetica,
               sans-serif;             
  font-size: 14px;
  
  margin: 0px;
  padding: 0px;
  
  height: 100%;
}

header{
  float: left;
  width: 100%;

  margin-bottom: 20px;
}

/* Centering container to center all page content */
.center-container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  
  height: 100%; /* needs to inherit down to child elements */
  
  border-style:solid;
  border-width: 0px;
}

/* Main container for all pages
   TODO: setup div as % with a minimum div width of 900 
   Called in application.html.erb
 */
.container {
  margin-left: auto;
  margin-right: auto;
  
  width: 100%;
  height: 100%; /* needs to inherit down to child elements */
  
  border-style:solid;
  border-width: 0px;
  
  float: left;
}

/* Main header nav div for logo and session / profile mgmt */
.main-header-full-width-container{
  float: left;
  width: 100%;
  
  height: 85px;
  
  position: fixed;
  top: 0px;
  left: 0px;
  
  z-index: 5;
}
/* centers header content into middle of page to coorespond with center-container div class */
.header-center-container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
}

div.left-nav {
  float: left;
  width: 20%;
  min-height: 300px;
  
  /* top, right, bottom, left */
  padding: 1%;
  
  border-style:solid;
  border-width: 0px;
}

div.content{ /* TODO: rename to something else */
  float: left;

  width: 55%;
  padding: 1%;
  margin-left: 2%;
  margin-bottom: 10px;
  
  border-style: dotted;
  border-width: 0px;
}

/* TODO: not used right now. 
  - use for deal stream on main auth page, completed events on ideas page, etc
  */
div.right-nav {
  float: left;

  width: 15%;
  padding: 1%;
  
  margin-left: 2%;
  
  border-style:solid;
  border-width: 0px;
}




/*************************************
 *************************************
 *
 * Site Component Definitions for pages, elements, etc
 *
 *************************************
 *************************************/
 
 
 
  /*************************************
   * Main header navigation
   *************************************/
.main-header-left-content {
  float: left;

  width: 25%;
  margin-top: 13px;
}
  
.main-header-center-content {
  float: left;

  width: 50%;
  margin-top: 13px;
}

.main-header-right-content {
  float: right;

  margin-top: 13px;
}

nav.main-authentication {
  float: right;

  white-space: nowrap;
}

nav.main-authentication ul {
  margin: 0;
  padding: 0;
}

nav.main-authentication ul li {
  list-style-type: none;
  display: inline-block;
}

nav.main-authentication ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav.main-authentication ul li a:hover {
  text-decoration: underline;
}

 
  /*************************************
   * General elements - used across different pages
   *************************************/

#flash_notice_div{
  float: left;
}

#flash_alert_div{
  float: left;
}

.hidden-div {
  display: none;
}

.minor-link {
  font-size: 12px;
}

.minor-text {
  font-size: 12px;
}

/* Demarks a section of content - use this to wrap a content section
     that contains a content-title and content-header */
.content-section{
  float: left;
  
  width: 100%;
  
  margin-bottom: 20px;
}

/* Title for content areas */
.content-title{
  float: left;
  
  width: 100%;
  padding: 5px 0px;
  
  font-size: 14;
}


/* Header text for a content section */
.content-header{
  float: left;

  width: 100%;

  padding: 5px 0px;

  border-width: 0px;
  border-style: solid;
}

/* Text inside content area */
.content-text{
  float: left;

  padding: 3px;

  width: 100%;
}

/* Div container for user list on left nav bar */
.user-list-container{
  border: solid 2px #B58963;

  height: 300px;
  padding: 4px; 
  
  overflow: auto;
  overflow-x: hidden;
}

/* Div container for chat board windows */
.chat-board-container{
  border: solid 2px #adadad;

  height: 220px;
  padding: 4px; 
  
  overflow: auto;
}

.chat-board-user-item{
  float: left;
  width: 100%;
  
  font-size: 12px;
  
  margin: 5px 2px;  
}

.chat-board-user-item-image{
  float: left;
  
  margin-right: 5px;
}

.chat-board-user-item-text{
  float: left;
}

.chat-board-user-item-status-offline{
  line-height: 20px;
}

.chat-board-user-item-status-online{
  line-height: 20px;
}

/* Div container for featured ideas */
.featured-ideas-container{
  float: left;
  
  border: solid 2px #adadad;

  height: 100%;
  padding: 4px 2px; 
  
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.featured-ideas-item{
  float: left;

  font-size: 12px;  
}

.featured-ideas-item-image{
  float: left;
  width: 100%;
  
  margin: 13px 0px 0px 0px;
}

.featured-ideas-item-text{
  float: left;
  width: 100%;
  
  margin: 0px 3px;
}

  /*************************************
   * Unauthenticated main page
   *************************************/
.unauth-content-container{
  float: left;

  width: 80%;

  margin-left: 10%;
  margin-right: 10%;

  padding: 50px 0px;

  text-align: center;
  
  border-style: dotted;
  border-width: 0px;
}

.unauth-content-ideas-container{
  float: left;
  
  width: 70%;
  margin: 20px 15%;
  
  border-style: solid;
  border-width: 1px;
}

  /*************************************
   * Left Nav
   *************************************/

.left-nav-main-link {
  font-size: 12px;

  padding: 5px;
  margin: 8px 0px;
}

.left-nav-list-item {
  font-size: 12px;
  padding: 2px 4px;
}

div.left-nav div.left-nav-main-link a {
  text-decoration: none;
}

div.left-nav a:hover {
  text-decoration: underline;
}



  /*************************************
   * Auth Home Content Stream
   *************************************/

/* Idea stream content: content area for list of ideas */
.idea-stream-content-view-selector{
  float: left;
  
  width: 100%;
  
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}

.idea-stream-header-row{
  float: left;
  font-size: 14px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

.idea-stream-content-row{
  float: left;
  font-size: 12px;

  width: 100%;
  padding: 10px 0px;

  margin: 5px 0px;

  border-width: 1px;
  border-style: solid;  
}

/* Idea-row: individual cells in an idea row for data */
.idea-row-picture{
  float: left;
  
  margin: 0% 0% 0% 2%;
  
  width: 13%;
}

.idea-row-text{
  float: left;
  
  margin: 0% 1%;
  
  width: 58%;
}

.idea-text{ /* marks the actual text in the idea-row block item (makes it bigger) */
  float: left;
  width: 100%;

  margin-top: 5px;

  font-size: 14px;
}

.idea-row-misc{
  float: left;
  
  margin-left: 1%;
  
  width: 24%;
}

  /*************************************
   * User Profile Page
   *************************************/
.user-stream-header-row{
  float: left;
  font-size: 14px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

.user-stream-content-row{
  float: left;
  font-size: 12px;

  width: 100%;
  padding: 10px 0px;

  border-width: 0px;
  border-style: solid;  
}

.user-row-picture{
  float: left;
  width: 15%;
}

.user-row-text{
  float: left;
  
  width: 50%;
  padding: 0px 0px 0px 10px;
}

.user-row-misc{
  float: left;
  width: 25%;
}

  /*************************************
   * Idea View Page
   *************************************/
.idea-image-main{

}

.idea-action-link{

}


/*************************************
 *************************************
 *
 * Link Definitions
 *
 *************************************
 *************************************/

.add-idea-link{
  float: left;
  
  margin: 5px 0px;
  padding: 2px;
  
  text-decoration: none;
  
  /* bevel'd button */
  /*box-shadow: -2px -2px 2px rgba(0,0,0,.25) inset, 2px 2px 2px white inset;*/
}

.add-idea-link a {
  text-decoration: none;
}



/*************************************
 *************************************
 *
 * Rounded Corners & other special stuff
 *
 *************************************
 *************************************/

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

p.notice{
  background-color: #CFC447;
  padding: 3px;
}

p.alert{
  background-color: #943E0F;
  padding: 3px;
}

/*************************************
 *************************************
 *
 * Div Popup
 *
 *************************************
 *************************************/

#blanket {
  background-color:#111;
  opacity: 0.65;
  filter:alpha(opacity=65);
  position:absolute;
  z-index: 9001;
  top:0px;
  left:0px;
  width:100%;
}

#popUpDiv {
  position:absolute;
  background-color:#eeeeee;
  width:300px;
  height:300px;
  z-index: 9002;
}





















.content-search-container{
  float: left;

  width: 100%;
  padding: 1% 0%;
  margin-bottom: 10px;
  
  border-style: dotted;
  border-width: 0px;
}



.magazine-stream-element-container{
  box-shadow: 2px 2px 5px #201C10; /* COLORS: DARK - 201C10, Light - C5AB84 */
}

.magazine-stream-element-container{
  background-color: #CBBB9B;
}

.magazine-stream-element-description-block, .magazine-stream-element-chat-msg{
  background-color: #D6D5D1;
}

.nav-main-link{
  color: white;
  background-color: #be3c14; /* alt colors: 943E0F be3c14 */
}

.nav-main-link-unimplemented{
  color: white;
  background-color: #995720; /* alt colors: 943E0F be3c14 */
}

.nav-main-link a{
  color: white;
  text-decoration: none;
}

.main-header-full-width-container{
  z-index: 2;
}

.magazine-stream-element-container{
  z-index: 1;
}

/*************************************
 *************************************
 *
 * Nav Links & etc
 *
 *************************************
 *************************************/
.nav-main-link, .nav-main-link-unimplemented{
  float: left;

  font-size: 12px;

  padding: 2px 5px;
  margin: 2px 10px;
}

/*************************************
 *************************************
 *
 * Magazine Stream Element
 *
 *************************************
 *************************************/

#AJAX_main_stream_content{ /* TODO: rename to magazine-stream-container or something relevant, but this will need to be referenced by JQUERY function */
  float: left;
  
  width: 100%;
}

.magazine-stream-element-container{
  float: left;

  width: 28%;
  height: 380px;
  
  padding: 1%;
  margin: 1.25%;

  font-size: 12px;
}

.magazine-stream-element-picture{ /* TODO: CENTER THIS */
  float: left;
  
  width: 100%;
  height: 160px;
  
  margin-bottom: 2%;
  
  border-style: solid;
  border-width: 0px;
}

.magazine-stream-element-picture img{ /* TODO: CENTER THIS */
  max-height:100%; 
  max-width:100%;
  
  display: block;
  margin: auto;
}

.magazine-stream-element-description-block{
  float: left;

  width: 100%;
  height: 45px;
  
  padding: 2% 0% 0% 0%;
  margin-bottom: 5%;

  overflow: hidden;
}

.magazine-stream-element-description-owner-pic{
  float: left;

  height: 100%;

  margin: 0% 2%;
}

/* block for statistics and join action */
.magazine-stream-element-stats-block{
  float: left;
  
  margin-bottom: 5%;
  width: 100%;
}

.magazine-stream-element-stats-block-text{
  float: left;

  width: 50%;
}

.magazine-stream-element-stats-block-action{
  float: right;

}

/* chat message styles */
.magazine-stream-element-chat-msg-block{
  float: left;
  
  width: 100%;
}

.magazine-stream-element-chat-msg{
  float: left;

  width: 100%;
  height: 45px;
  
  padding: 2% 0% 0% 0%;
  margin-bottom: 2%;
  
  overflow: hidden;
}

.magazine-stream-element-chat-msg-pic{
  float: left;

  height: 100%;

  margin: 0% 2%;
}

