<footer>
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Feedback? Chat us up!", feedback_path, {:target => "_blank"} %></li>
      <% end %>
    </ul>
  </nav>
</footer>
