<footer>
  <!--<div style="border-top-style: solid; border-color: #b0b0b0; border-width: 1px; margin-top: 15px; clear:both; float: left; width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 15px;">-->
  <div class="footer">
    <div class="footer-links">About Us</div>
    <div class="footer-links">Contact Us</div>
    <div class="footer-links">Blog</div>
    <div class="footer-links">Terms</div>
  </div>
</footer>
